/.vs
/unity/Holo/Assets/Resources/localConfig.asset
/unity/Holo/Assets/Resources/localConfig.asset.meta
/unity/Holo/Assets/icon.asset
/unity/Holo/Assets/icon.asset.meta
/unity/Holo/Assets/icon.png
/unity/Holo/Assets/icon.png.meta
