################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/data/hypertrophy-heart/meshes
